.article-list-2
  margin: 0
  margin-bottom: 60px
  padding: 0
  background-color: #ffffff
  border-radius: 10px
  &-title
    margin: 15px 0 10px
    font-family: Roboto Slab
    font-weight: bold
    font-size: 20px
    line-height: 25px
    color: #262D33
  &-excerpt
    margin-bottom: 20px
    font-size: 14px
    line-height: 20px
    color: #4B5157
  &-item
    position: relative
    padding: 25px
    display: flex
    align-items: center
    &:not(:last-child)::after
      content: ''
      position: absolute
      width: 94%
      height: 1px
      background-color: #D9DADB
      display: block
      bottom: 0
    &-wrapper
      max-width: 430px
      margin-left: 25px
      position: relative
      &::before
        content: url(../img/bookmark.svg)
        position: absolute
        top: 0
        right: 0
    &-info
      display: flex
      align-items: center
      font-size: 12px
      line-height: 15px
      color: #939699
      .date, .comments, .likes
              opacity: 0.4
              display: flex
              align-items: center
              margin-right: 11px
              &-counter
                margin-left: 5px
      .comments-icon
        width: 14px
        height: 14px
        fill: #BCBFC2
      .likes-icon
        width: 14px
        height: 14px
        fill: #BCBFC2
.category-link
  &.hot
    color: #FF4F52
    &:visited
      color: #FF4F52
  &.viewpoint
    color: #3BBDC4
    &:visited
      color: #3BBDC4
  &.selection
    color: #AC8EE3
    &:visited
      color: #AC8EE3
@media screen and ( max-width: 768px )
  .article-list-2
    &-thumb
      display: none
  

      

        






