.footer
  padding: 60px 113px 55px
  background-color: #ffffff
  &-menu
    border-top: 5px solid #000
    padding-right: 20px
    flex-basis: 100%
    margin-bottom: 35px
    &:nth-child(1)
      border-top: 5px solid #FF4F52
    &:nth-child(2)
      border-top: 5px solid #AC8EE3
    &:nth-child(3)
      border-top: 5px solid #4592FF
    &:nth-child(4)
      border-top: 5px solid #FFA34D
    &:nth-child(5)
      border-top: 5px solid #3DC47E
    &:nth-child(6)
      border-top: 5px solid #6E99AE
    &-title
      font-family: 'Lato Black', sans-serif
      color: #262D33
      padding-top: 30px
      padding-bottom: 25px
    ul
      margin: 0
      padding: 0
      list-style: none
      a
        font-family: 'Lato Regular', sans-serif
        display: inline-block
        margin: 0 0 15px 0
        color: #4B5157
        font-weight: normal
        text-decoration: none
    &-bar
      display: flex
      align-items: flex-start
      padding-bottom: 65px
  &-info
    padding: 45px 0
    border-top: 1px solid #D9DADB
    border-bottom: 1px solid #D9DADB
    display: flex
    justify-content: space-between
    align-items: center
    .logo
      margin-right: 15px
    .widget-link
      text-decoration: none
      &-icon
        width: 40px
        height: 40px
        margin-left: 15px
  &-nav-wrapper
    margin-right: auto
    ul
      padding: 0
      margin: 0
      list-style: none
      display: flex
      align-items: center
      a
        font-family: 'Lato Black', sans-serif
        letter-spacing: 0.5px
        text-transform: uppercase
        color: #262D33
  &-text-wrapper
      padding: 40px 0 55px
      display: flex
      align-items: flex-start
      justify-content: space-between
      color: #939699
      p
        margin: 0
        max-width: 750px
@media screen and ( max-width: 1024px )
  .footer
    padding-right: 80px
    padding-left: 80px
    &-menu
      &-bar
        flex-wrap: wrap
        justify-content: center
        .footer-menu
          flex-basis: 30%
    &-info
      flex-wrap: wrap
      align-items: center
      justify-content: center
      .logo
        margin-right: 0
        margin-bottom: 30px
      nav
        flex-basis: 100%
        ul
          justify-content: center
      .footer-social
        padding-top: 30px
    &-text-wrapper
      flex-wrap: wrap
      p
        margin-bottom: 30px
@media screen and ( max-width: 768px )
  .footer
    &-menu
      &-bar
        justify-content: center
        .footer-menu
          flex-basis: 50%
    &-info
      nav
      ul
        flex-wrap: wrap
        .menu-item
          flex-basis: 50%
          text-align: center
          margin-bottom: 20px
      .footer-social
        padding-top: 15px
        .widget-link-icon
          margin: 0
@media screen and ( max-width: 576px )
  .footer
    &-menu
      margin: 0
      &-bar
        .footer-menu
          flex-basis: 100%
    &-info
      ul
        flex-direction: column
        a
          margin: 0





