body
  counter-reset: section
.sidebar
  &-front-page
    margin-left: 30px
    width: 23%
    display: flex
    flex-direction: column
    align-items: space-between
.widget
  background-color: #ffffff
  border-radius: 10px
  &-title
    font-family: "Lato Black", sans-serif
    font-size: 14px
    line-height: 20px
    padding: 20px 25px
    border-bottom: 1px solid #D9DADB
    text-transform: uppercase  
    letter-spacing: 0,5px
  &-downloader
    background: #3BBDC4 url(../img/file.svg) no-repeat top 24px right 22px
    color: #ffffff
    border-radius: 10px
    padding: 25px
    padding-bottom: 55px
    position: relative
    .widget
      &-title
        margin-top: 0
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 25px
        border: none
        padding: 0
        text-transform: none
      &-description
        margin: 0
        color: #C1F4F5
      &-link
        position: absolute
        bottom: 0
        left: 0
        right: 0
        text-align: center
        padding-top: 12px
        padding-bottom: 13px
        border-top: 1px solid #96E2E3
        color: #ffffff
        text-decoration: none
        font-family: Lato Black, sans-serif
        display: flex
        align-items: center
        justify-content: center
        &-icon
          margin-right: 10px
  &-social
    .widget
      &-title
        font-family: Roboto Slab
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 25px
        color: #262D33
        text-transform: none
        display: flex
        align-items: center
        justify-content: center
        border-bottom: none
        margin: 0
      &-social-links
        padding: 12px 36px 25px
        display: flex
        justify-content: space-between
        align-items: center
      &-link
        text-decoration: none
        &-icon
          width: 50px
          height: 50px
  &_tag_cloud
    .tagcloud
      display: flex   
      align-items: center
      justify-content: flex-start
      flex-wrap: wrap
      padding: 25px
      padding-bottom: 40px
      .tag-cloud-link
        text-decoration: none
        text-transform: capitalize
        margin-right: 10px
        margin-bottom: 15px
        padding: 5px 15px
        border: 1px solid #D9DADB
        font-family: "Lato Black", sans-serif
        color: #262D33  
        border-radius: 5px
  &-recent-posts
    max-width: 270px
    &-readmore
      text-decoration: none
      font-family: "Lato Black", sans-serif
      color: #262D33
      display: flex
      justify-content: center
      padding: 11px 0 14px
      border-top: 1px solid #D9DADB
      &:visited
        color: #262D33
    &-wrapper
      padding: 0 25px
      overflow: hidden
    .recent-posts-link
      display: flex
      align-items: center
      text-decoration: none
      padding-top: 17px
      padding-bottom: 17px
      position: relative
      &:not(:last-child)
        border-bottom: 1px solid #D9DADB
      &::before
        counter-increment: section
        content: counter(section)
        position: absolute
        right: 5px
        font-family: 'Lato Black', sans-serif
        font-style: italic
        font-size: 70px
        line-height: 50px
        color: #262D33
        opacity: 0.08
    h4
      color: #4B5157
      font-size: 14px
      line-height: 20px
      margin-top: 0
      margin-bottom: 5px
    img
      width: 60px
      height: 60px
      margin-right: 10px
    span
      font-size: 12px
      line-height: 15px
      color: #939699
    .widget-title
      text-align: center
  &-category-articles
    background-color: #F5F5F5
    &-wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between
      padding: 60px 0 90px
    &-link
      text-decoration: none
    &-item-wrapper
      width: 263px
      &:not(:last-child)
        margin-right: 30px
      img
        width: 100%
        object-fit: cover
        max-height: 180px
        border-radius: 10px
    &-title
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 25px
      color: #262D33
      margin: 15px 0
    &-info
      display: flex
      align-items: center
      justify-content: start
      font-size: 12px
      line-height: 15px
      color: #939699
      .views, .comments
              display: flex
              align-items: center
              margin-right: 10px
              &-counter
                margin-left: 5px
      .views-icon
        width: 15px
        height: 10px
        fill: #BCBFC2
      .comments-icon
        width: 14px
        height: 14px
        fill: #BCBFC2
@media screen and ( max-width: 1200px )
  .sidebar-front-page
    margin: 0
    margin-bottom: 30px
    flex-basis: 100%
    flex-direction: row
    justify-content: center
    section
      margin: 0
      &:not(:last-child)
        margin-right: 30px
      .widget
        &-social-links
          display: block
          text-align: center
        &-recent-posts
          max-width: 300px
@media screen and ( max-width: 768px )
  .sidebar-front-page
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    section
      &:not(:last-child)
        margin-right: 0
        margin-bottom: 30px
    .widget
      &_tag_cloud
        order: -1




