@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  background-color: #262D33;
  padding: 15px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-toggle {
  display: none;
}

.header-light {
  background-color: #ffffff;
}

.header-light .logo-name {
  color: #4592FF;
}

.header-light .menu-item a {
  color: #939699;
}

.header-light .search-form input {
  background-color: #F5F5F5;
}

.custom-logo {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-name {
  margin-left: 10px;
  color: #ffffff;
  font-family: Roboto Slab;
  font-size: 24px;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Lato Black', sans-serif;
  margin: 0 15px;
  font-weight: 900;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
  outline: none;
  color: #111;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background: transparent url(../img/icon-search.svg) no-repeat center center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 5;
    padding-top: 30px;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .menu-item a {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc( 40% + 40px);
    background-color: #ffffff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 400px) {
  .search-form {
    order: 4;
    width: 100%;
    margin-top: 15px;
  }
}

body {
  background-color: #E5E5E5;
}

body .front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 475px;
}

body .hero {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
}

body .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
  z-index: 1;
}

body .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
}

body .left .author {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 2;
}

body .left .author-bio {
  margin-left: 10px;
}

body .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

body .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 15px;
}

body .left .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body .left .post-text {
  position: relative;
  z-index: 2;
}

body .left .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

body .right {
  flex-basis: 25%;
}

body .right .recommend {
  margin: 20px 0px 20px 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

body .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body .right .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
}

body .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

body .right .post-categories a {
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

body .right .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

body .right .post:hover {
  background-color: #F5F5F5;
}

body .right .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #fff;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background: #4592ff;
  text-decoration: none;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: none;
  cursor: pointer;
}

.more:visited, .more:focus, .more:hover {
  color: #fff;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.category-link:visited {
  color: #4592FF;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.web-design:visited {
  color: #FFA34D;
}

.category-link.css {
  color: #3DC47E;
}

.category-link.css:visited {
  color: #3DC47E;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.html:visited {
  color: #AC8EE3;
}

@media screen and (max-width: 1200px) {
  .hero .right {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .home .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
  .home .hero {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .home .left .post-title {
    font-size: 25px;
    line-height: 30px;
  }
}

.article-list {
  margin: 180px 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4B5157;
  display: block;
}

.article-item img {
  width: 65px;
  height: 65px;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #636060;
}

.article-permalink:visited {
  color: #636060;
}

.article-title {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .article-list {
    margin-top: 210px;
    flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
    padding: 25px;
  }
  .article-permalink {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
  .article-item {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
  .article-permalink {
    width: 80%;
  }
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article-grid {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 30px;
  width: 74%;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #636060;
}

.article-grid-permalink:visited {
  color: #636060;
}

.article-grid-item {
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
}

.article-grid-item-1 {
  grid-area: 1 / 1 / 3 / 3;
  padding: 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: #6E99AE;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.article-grid-item-1 .article-grid-thumb {
  position: absolute;
  right: 0;
  top: 0;
  height: 82%;
  width: 45%;
  object-fit: cover;
}

.article-grid-item-1 .article-grid-title {
  max-width: 238px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  max-width: 228px;
  color: #4B5157;
  margin-bottom: 50px;
}

.article-grid-item-1 .article-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-grid-item-1 .article-grid-info .author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-weight: 900;
}

.article-grid-item-1 .article-grid-info .comments {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-icon {
  width: 14px;
  height: 14px;
  fill: #BCBFC2;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  margin-left: 5px;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.article-grid-item-2 {
  grid-area: 1 / 3 / 3 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .tag {
  padding: 12px 25px;
  background-color: #3DC47E;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  text-transform: uppercase;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
}

.article-grid-item-2 .author {
  display: flex;
  align-items: center;
}

.article-grid-item-2 .author-avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
}

.article-grid-item-2 .author-info .comments-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
  opacity: 0.4;
}

.article-grid-item-2 .author-info .likes-icon {
  width: 14px;
  height: 14px;
  fill: #ffffff;
  opacity: 0.4;
}

.article-grid-item-2 .author-info .date, .article-grid-item-2 .author-info .comments, .article-grid-item-2 .author-info .likes {
  opacity: 0.4;
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.article-grid-item-2 .author-info .date-counter, .article-grid-item-2 .author-info .comments-counter, .article-grid-item-2 .author-info .likes-counter {
  margin-left: 5px;
}

.article-grid-item-2 .author-name {
  flex-basis: 100%;
  opacity: 0.85;
}

.article-grid-item-3 {
  grid-area: 3 / 1 / 5 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 275px;
  object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 30px;
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  position: absolute;
  padding: 25px 25px 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.article-grid-item-default .article-grid-permalink .date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin-top: 0;
  margin-bottom: auto;
  color: #4B5157;
}

@media screen and (max-width: 1200px) {
  .main-grid {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-grid .article-grid {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .article-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(6, minmax(200px, max-content));
  }
  .article-grid-item-1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .article-grid-item-2 {
    grid-area: 3 / 1 / 5 / 2;
  }
  .article-grid-item-3 {
    grid-area: 3 / 2 / 5 / 3;
  }
}

@media screen and (max-width: 576px) {
  .article-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(300px, max-content));
  }
  .article-grid-item {
    grid-area: auto;
  }
  .article-grid-item-1 .article-grid-thumb, .article-grid-item-1 .author-name {
    display: none;
  }
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  margin-left: 30px;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.widget {
  background-color: #ffffff;
  border-radius: 10px;
}

.widget-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  text-transform: uppercase;
  letter-spacing: 0,5px;
}

.widget-downloader {
  background: #3BBDC4 url(../img/file.svg) no-repeat top 24px right 22px;
  color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
}

.widget-downloader .widget-title {
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
  text-transform: none;
}

.widget-downloader .widget-description {
  margin: 0;
  color: #C1F4F5;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid #96E2E3;
  color: #ffffff;
  text-decoration: none;
  font-family: Lato Black, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-social .widget-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  margin: 0;
}

.widget-social .widget-social-links {
  padding: 12px 36px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-social .widget-link {
  text-decoration: none;
}

.widget-social .widget-link-icon {
  width: 50px;
  height: 50px;
}

.widget_tag_cloud .tagcloud {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 40px;
}

.widget_tag_cloud .tagcloud .tag-cloud-link {
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  font-family: "Lato Black", sans-serif;
  color: #262D33;
  border-radius: 5px;
}

.widget-recent-posts {
  max-width: 270px;
}

.widget-recent-posts-readmore {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  color: #262D33;
  display: flex;
  justify-content: center;
  padding: 11px 0 14px;
  border-top: 1px solid #D9DADB;
}

.widget-recent-posts-readmore:visited {
  color: #262D33;
}

.widget-recent-posts-wrapper {
  padding: 0 25px;
  overflow: hidden;
}

.widget-recent-posts .recent-posts-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts .recent-posts-link:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts .recent-posts-link::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  right: 5px;
  font-family: 'Lato Black', sans-serif;
  font-style: italic;
  font-size: 70px;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
}

.widget-recent-posts h4 {
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts span {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.widget-category-articles {
  background-color: #F5F5F5;
}

.widget-category-articles-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 0 90px;
}

.widget-category-articles-link {
  text-decoration: none;
}

.widget-category-articles-item-wrapper {
  width: 263px;
}

.widget-category-articles-item-wrapper:not(:last-child) {
  margin-right: 30px;
}

.widget-category-articles-item-wrapper img {
  width: 100%;
  object-fit: cover;
  max-height: 180px;
  border-radius: 10px;
}

.widget-category-articles-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin: 15px 0;
}

.widget-category-articles-info {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.widget-category-articles-info .views, .widget-category-articles-info .comments {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.widget-category-articles-info .views-counter, .widget-category-articles-info .comments-counter {
  margin-left: 5px;
}

.widget-category-articles-info .views-icon {
  width: 15px;
  height: 10px;
  fill: #BCBFC2;
}

.widget-category-articles-info .comments-icon {
  width: 14px;
  height: 14px;
  fill: #BCBFC2;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    margin: 0;
    margin-bottom: 30px;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .sidebar-front-page section {
    margin: 0;
  }
  .sidebar-front-page section:not(:last-child) {
    margin-right: 30px;
  }
  .sidebar-front-page section .widget-social-links {
    display: block;
    text-align: center;
  }
  .sidebar-front-page section .widget-recent-posts {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-front-page {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .sidebar-front-page section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .sidebar-front-page .widget_tag_cloud {
    order: -1;
  }
}

.investigation {
  margin-bottom: 60px;
  padding: 50px 0 55px;
  text-align: center;
}

.investigation a {
  text-decoration: none;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  min-width: 940px;
  margin: 0 auto 25px;
}

@media screen and (max-width: 1024px) {
  .investigation-title {
    min-width: auto;
  }
}

@media screen and (max-width: 576px) {
  .investigation-title {
    font-size: 25px;
    line-height: 30px;
  }
}

.article-list-2 {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.article-list-2-thumb {
  width: 336px;
  height: 195px;
  object-fit: cover;
}

.article-list-2-permalink {
  text-decoration: none;
}

.article-list-2-title {
  margin: 15px 0 10px;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.article-list-2-excerpt {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.article-list-2-item {
  position: relative;
  padding: 25px;
  display: flex;
  max-height: 245px;
}

.article-list-2-item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 94%;
  height: 1px;
  background-color: #D9DADB;
  display: block;
  bottom: 0;
}

.article-list-2-item-wrapper {
  max-width: 430px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.article-list-2-item-wrapper .bookmark {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.article-list-2-item-wrapper .bookmark svg {
  fill: #BCBFC2;
  width: 20px;
  height: 20px;
}

.article-list-2-item-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.article-list-2-item-info .date, .article-list-2-item-info .comments, .article-list-2-item-info .likes {
  opacity: 0.4;
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.article-list-2-item-info .date-counter, .article-list-2-item-info .comments-counter, .article-list-2-item-info .likes-counter {
  margin-left: 5px;
}

.article-list-2-item-info .comments-icon {
  width: 14px;
  height: 14px;
  fill: #BCBFC2;
}

.article-list-2-item-info .likes-icon {
  width: 14px;
  height: 14px;
  fill: #BCBFC2;
}

.category-link.hot {
  color: #FF4F52;
}

.category-link.hot:visited {
  color: #FF4F52;
}

.category-link.viewpoint {
  color: #3BBDC4;
}

.category-link.viewpoint:visited {
  color: #3BBDC4;
}

.category-link.selection {
  color: #AC8EE3;
}

.category-link.selection:visited {
  color: #AC8EE3;
}

@media screen and (max-width: 768px) {
  .article-list-2-thumb {
    display: none;
  }
}

.special {
  background-color: #262D33;
  padding: 60px 0;
  margin-top: 60px;
}

.special-grid {
  display: flex;
  justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 48%;
  position: relative;
  overflow: hidden;
}

.photo-report::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18px;
  height: 100%;
}

.photo-report-content .category-link {
  padding: 5px 12px;
  background-color: #3DC47E;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-transform: none;
  border-radius: 3px;
  align-self: start;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report-content .author {
  text-decoration: none;
  text-align: center;
}

.photo-report-content .author-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.photo-report-content .author-name {
  display: block;
  color: #FFFFFF;
  opacity: 0.85;
}

.photo-report-content .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.4;
}

.photo-report-slider {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.photo-report-title {
  color: #FFFFFF;
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.photo-report-button {
  text-decoration: none;
  font-family: 'Lato Black';
  color: #ffffff;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.photo-report-button:visited, .photo-report-button:hover {
  color: #ffffff;
}

.photo-report-icon {
  fill: #ffffff;
  width: 19px;
  height: 15px;
  margin-right: 8px;
}

.photo-report-counter {
  color: #C5E4FC;
  font-family: 'Lato Regular';
  margin-left: 8px;
}

.other {
  width: 48%;
}

.other .career {
  max-height: 62%;
  border-radius: 10px;
  background: #B4D1E0 url(../img/career-image.png);
  background-size: cover;
  margin-bottom: 30px;
}

.other .career-content {
  max-width: 240px;
  padding: 35px 0 50px 35px;
}

.other .career-content .category-link {
  color: #6E99AE;
}

.other .career-title {
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
}

.other .career-excerpt {
  color: #4B5157;
  margin-bottom: 45px;
}

.other-default {
  display: flex;
}

.other-default-item-permalink {
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.other-default-item-permalink:not(:last-child) {
  margin-right: 30px;
}

.other-default-item-permalink .date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.other-default-item-title {
  margin: 0;
  padding: 0;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.other-default-item-excerpt {
  color: #4B5157;
}

@media screen and (max-width: 1200px) {
  .special-grid {
    flex-direction: column;
    align-items: center;
  }
  .special-grid .photo-report {
    width: 100%;
    margin-bottom: 30px;
  }
  .special-grid .other {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .special .other-default {
    flex-direction: column;
    flex-basis: 100%;
  }
  .special .other-default-item-permalink {
    margin: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .photo-report-title {
    font-size: 35px;
    line-height: 40px;
  }
}

.footer {
  padding: 60px 113px 55px;
  background-color: #ffffff;
}

.footer-menu {
  border-top: 5px solid #000;
  padding-right: 20px;
  flex-basis: 100%;
  margin-bottom: 35px;
}

.footer-menu:nth-child(1) {
  border-top: 5px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 5px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 5px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 5px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 5px solid #6E99AE;
}

.footer-menu-title {
  font-family: 'Lato Black', sans-serif;
  color: #262D33;
  padding-top: 30px;
  padding-bottom: 25px;
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu ul a {
  font-family: 'Lato Regular', sans-serif;
  display: inline-block;
  margin: 0 0 15px 0;
  color: #4B5157;
  font-weight: normal;
  text-decoration: none;
}

.footer-menu-bar {
  display: flex;
  align-items: flex-start;
  padding-bottom: 65px;
}

.footer-info {
  padding: 45px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info .logo {
  margin-right: 15px;
}

.footer-info .widget-link {
  text-decoration: none;
}

.footer-info .widget-link-icon {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.footer-nav-wrapper {
  margin-right: auto;
}

.footer-nav-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.footer-nav-wrapper ul a {
  font-family: 'Lato Black', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #262D33;
}

.footer-text-wrapper {
  padding: 40px 0 55px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #939699;
}

.footer-text-wrapper p {
  margin: 0;
  max-width: 750px;
}

.footer-text-wrapper a {
  text-decoration: none;
  color: inherit;
  margin-left: auto;
}

.footer-text-wrapper span {
  margin-left: 10px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-right: 80px;
    padding-left: 80px;
  }
  .footer-menu-bar {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu-bar .footer-menu {
    flex-basis: 30%;
  }
  .footer-info {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-info .logo {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer-info nav {
    flex-basis: 100%;
  }
  .footer-info nav ul {
    justify-content: center;
  }
  .footer-info .footer-social {
    padding-top: 30px;
  }
  .footer-text-wrapper {
    flex-wrap: wrap;
  }
  .footer-text-wrapper p {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer-menu-bar {
    justify-content: center;
  }
  .footer-menu-bar .footer-menu {
    flex-basis: 50%;
  }
  .footer-info ul {
    flex-wrap: wrap;
  }
  .footer-info ul .menu-item {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-info .footer-social {
    padding-top: 15px;
  }
  .footer-info .footer-social .widget-link-icon {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer-menu {
    margin: 0;
  }
  .footer-menu-bar .footer-menu {
    flex-basis: 100%;
  }
  .footer-info ul {
    flex-direction: column;
  }
  .footer-info ul a {
    margin: 0;
  }
}

.site-main {
  background-color: #fff;
}

.post-header {
  padding: 60px 0 72px;
  color: #ffffff;
}

.post-header-wrapper {
  position: relative;
}

.post-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
}

.post-header-nav .home-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-family: 'Lato Black', sans-serif;
  margin-left: auto;
  margin-right: 30px;
}

.post-header-nav .home-link .icon {
  width: 18px;
  height: 17px;
  fill: #ffffff;
  margin-right: 5px;
}

.post-header-nav .nav-links {
  min-width: 160px;
}

.post-header-nav .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Lato Black', sans-serif;
}

.post-header-nav .nav-links a span {
  display: flex;
  align-items: center;
}

.post-header-nav .nav-links .icon {
  width: 18px;
  height: 17px;
  fill: #ffffff;
}

.post-header-nav .nav-links .prev-icon {
  margin-right: 8px;
  transform: rotate(180deg);
}

.post-header-nav .nav-links .next-icon {
  margin-left: 8px;
}

.post-header-nav .navigation {
  margin: 0;
}

.post-header p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.85;
  max-width: 630px;
  margin-bottom: 43px;
}

.post-header-title {
  max-width: 750px;
  margin-top: 52px;
  margin-bottom: 30px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 70px;
}

.post-header-title-wrapper {
  max-width: 950px;
  position: relative;
}

.post-header-title-wrapper .bookmark {
  position: absolute;
  top: 15px;
  right: 0;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.post-header-title-wrapper .bookmark svg {
  fill: #ffffff;
  opacity: 0.4;
  width: 27px;
  height: 21px;
}

.post-header-info {
  display: flex;
}

.post-header-info .date {
  opacity: 0.8;
}

.post-header-info .likes {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.post-header-info .comments {
  display: flex;
  align-items: center;
}

.post-header-info .icon {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  fill: #ffffff;
  opacity: 0.4;
}

.post-author {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D9DADB;
  min-width: 263px;
}

.post-author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4B5157;
  padding: 35px 25px 20px;
}

.post-author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.post-author-name {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.post-author-posts {
  font-family: 'Lato Black', sans-serif;
  color: #262D33;
  margin-top: 15px;
}

.post-author-link {
  text-decoration: none;
  padding: 15px 25px;
  border-top: 1px solid #D9DADB;
  width: 100%;
  text-align: center;
  color: #262D33;
  font-family: 'Lato Black', sans-serif;
}

.post-author-link:visited {
  color: #262D33;
}

.post-content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.post-content p {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin: 30px 0;
}

.post-content p:first-child {
  max-width: 623px;
}

.post-content .has-drop-cap:not(:focus):first-letter {
  color: #4592FF;
  font-size: 100px;
  line-height: 75px;
  padding-top: 8px;
  font-family: 'Lato Black', sans-serif;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  color: #262D33;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  font-size: 25px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 18px;
}

.post-content h5 {
  font-size: 16px;
}

.post-content h6 {
  font-size: 14px;
}

.post-content ol {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: #4B5157;
  font-family: Roboto Slab;
  font-style: normal;
}

.post-content ol li {
  margin-bottom: 5px;
}

.post-content ul {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: #4B5157;
  font-family: Roboto Slab;
  font-style: normal;
}

.post-content ul li {
  margin-bottom: 5px;
}

.post-content .wp-block-quote {
  margin: 80px 0 45px;
}

.post-content .wp-block-quote p {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  margin-bottom: 15px;
  position: relative;
}

.post-content .wp-block-quote p::before {
  position: absolute;
  z-index: -1;
  left: -20px;
  top: -20px;
  content: url("../img/quote.svg");
}

.post-content .wp-block-quote cite {
  display: block;
  text-align: right;
  font-family: Roboto Slab;
  color: #262D33;
}

.post-content .wp-block-table {
  color: #4B5157;
  font-family: Roboto Slab;
  font-style: normal;
}

.post-content .wp-block-table table {
  margin-bottom: 10px;
}

.post-content .wp-block-table td {
  border-bottom: 1px solid #c2c4c7;
}

.post-content .wp-block-table figcaption {
  text-align: center;
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.post-content .wp-block-image figcaption {
  text-align: center;
  color: #4B5157;
}

.post-footer .tags-links {
  padding-bottom: 60px;
  border-bottom: 1px solid #D9DADB;
  max-width: 623px;
  width: 100%;
  display: block;
}

.post-footer .tags-links a {
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Lato Black', sans-serif;
  text-transform: capitalize;
  color: #262D33;
}

.post-footer .tags-links a:visited {
  color: #262D33;
}

.meks_ess {
  max-width: 623px;
  margin-top: 30px;
}

.meks_ess-item {
  margin-right: 15px !important;
}

.meks_ess_share_label {
  font-size: 25px;
  line-height: 30px;
  font-family: Roboto Slab;
  margin-top: 30px;
  margin-bottom: 25px;
}

.comments-area {
  max-width: 750px;
}

.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D9DADB;
}

.comments-title {
  margin-bottom: 30px;
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.comments-count {
  font-family: 'Lato Regular', sans-serif;
  font-size: 40px;
  line-height: 50px;
  color: #939699;
}

.comments-add-button {
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Lato Black', sans-serif;
  border: 1px solid #D9DADB;
  border-radius: 20px;
  color: #262D33;
}

.comments-add-button:visited {
  color: #262D33;
}

.comments-add-button .add-comment {
  fill: #BCBFC2;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.comments-list {
  padding: 0;
  margin: 0;
}

.comments-list .children {
  border-bottom: 1px solid #D9DADB;
  margin-left: 0;
  padding-left: 90px;
}

.comment-body {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 30px;
}

.comment-body:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.comment-author a {
  text-decoration: none;
  font-family: 'Lato Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

.comment-author a:visited {
  color: #939699;
}

.comment-author .name {
  margin-right: 10px;
}

.comment-author .name a {
  font-family: Roboto Slab;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.comment-author .name a:visited {
  color: #262D33;
}

.comment-author-avatar {
  margin-right: 15px;
}

.comment-author-avatar img {
  border-radius: 50%;
}

.comment-wrapper p {
  max-width: 570px;
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
}

.comment-wrapper .reply {
  display: flex;
  align-items: center;
}

.comment-wrapper .reply .comments-icon {
  width: 14px;
  height: 14px;
  fill: #BCBFC2;
}

.comment-wrapper .reply .thumb-down-icon {
  transform: rotate(180deg);
  margin-top: 5px;
}

.comment-wrapper .reply .thumb-up, .comment-wrapper .reply .thumb-down {
  display: flex;
  align-items: center;
}

.comment-wrapper .reply .thumb-up-icon, .comment-wrapper .reply .thumb-down-icon {
  width: 15px;
  height: 15px;
  fill: #BCBFC2;
  margin-right: 5px;
}

.comment-wrapper .reply .thumb-up-counter, .comment-wrapper .reply .thumb-down-counter {
  margin-right: 5px;
  font-size: 12px;
  line-height: 15px;
}

.comment-wrapper .reply .thumb-up-counter {
  color: #3DC47E;
}

.comment-wrapper .reply .thumb-down-counter {
  color: #e2263f;
}

.comment-wrapper .reply .comment-reply-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
  margin-right: 15px;
  margin-left: 5px;
}

.comment-form {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 30px 40px 35px 30px;
}

.comment-form .avatar {
  border-radius: 50%;
  margin-right: 20px;
}

.comment-form-wrapper {
  display: flex;
  align-items: flex-start;
}

.comment-form-label {
  margin-bottom: 15px;
  margin-left: 95px;
  display: block;
  font-family: Roboto Slab;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.comment-form-textarea {
  min-height: 130px;
  max-width: 595px;
  resize: none;
  border: 1px solid #D9DADB;
  border-radius: 10px;
}

.comment-form-textarea:focus {
  outline: none;
}

.comment-form-textarea-wrapper {
  position: relative;
  width: 100%;
}

.comment-form-textarea-wrapper::before {
  content: '';
  background: url(../img/angle.svg) no-repeat center center;
  background-size: 100%;
  width: 12px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 25px;
}

.comment-form-submit {
  margin-left: 95px;
  font-family: 'Lato Black', sans-serif;
  line-height: 20px;
  margin-top: 15px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-wrapper {
  max-width: 760px;
  margin: auto;
  margin-bottom: 70px;
}

.footer-form-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
  margin-bottom: 25px;
}

.footer-form input {
  margin-right: 10px;
  min-width: 313px;
  padding: 10px 15px;
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #939699;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  outline: none;
}

.footer-form button {
  color: #fff;
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  background: #4592ff;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 992px) {
  .footer-form-title {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-form-title {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .footer-form {
    flex-direction: column;
  }
  .footer-form input {
    margin: 0;
    margin-bottom: 20px;
    min-width: 250px;
  }
}

.search-wrapper {
  display: flex;
  margin-bottom: 115px;
}

.search-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.pagination {
  margin-top: 40px;
}

.pagination .nav-links {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato Black', sans-serif;
}

.pagination .nav-links * {
  color: #262D33;
  padding: 17px;
  text-align: center;
}

.pagination .nav-links *:not(:last-child) {
  border-right: 1px solid #D9DADB;
}

.pagination .nav-links .prev, .pagination .nav-links .next {
  padding: 17px 80px;
  flex-grow: 1;
}

.pagination .nav-links .prev {
  margin-right: auto;
  position: relative;
}

.pagination .nav-links .prev::before {
  content: url("../img/pagination-arrow.svg");
  position: absolute;
  left: 110px;
}

.pagination .nav-links .next {
  margin-left: auto;
  position: relative;
}

.pagination .nav-links .next::before {
  content: url("../img/pagination-arrow.svg");
  transform: rotate(180deg);
  position: absolute;
  right: 110px;
}

.pagination .nav-links a {
  text-decoration: none;
}

.pagination .nav-links a:visited {
  color: #262D33;
}

.pagination .nav-links .current {
  color: #4592FF;
}

.category-title {
  margin: 20px 0 60px;
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
}

.category .post-list {
  display: flex;
  flex-wrap: wrap;
}

.category .post-list-wrapper {
  padding-bottom: 30px;
}

.category .post-card {
  background: #ffffff;
  border-radius: 10px;
  width: 23%;
  margin-bottom: 30px;
  overflow: hidden;
  margin-right: 2%;
  position: relative;
}

.category .post-card-info {
  position: absolute;
  bottom: 25px;
}

.category .post-card-thumb {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.category .post-card a {
  text-decoration: none;
}

.category .post-card-title {
  color: #262D33;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.category .post-card-excerpt {
  color: #4B5157;
  margin-top: 5px;
  margin-bottom: 15px;
}

.category .post-card-text {
  padding: 15px 25px 70px 25px;
}

.category .post-card-text .author {
  display: flex;
  align-items: center;
}

.category .post-card-text .author-avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.category .post-card-text .author-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #939699;
  font-family: 'Lato Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.category .post-card-text .author-name {
  width: 100%;
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
}

.category .post-card-text .author .date, .category .post-card-text .author .comments, .category .post-card-text .author .likes {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.category .post-card-text .author .date-counter, .category .post-card-text .author .comments-counter, .category .post-card-text .author .likes-counter {
  margin-left: 5px;
}

.category .post-card-text .author .icon {
  height: 15px;
  width: 15px;
  fill: #BCBFC2;
}

@media screen and (max-width: 1200px) {
  .container .post-list {
    justify-content: center;
  }
  .container .post-card {
    width: 35%;
  }
  .container .post-card:not(:last-child) {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .container .post-card {
    width: 45%;
  }
  .container .post-card:not(:last-child) {
    margin-right: 5%;
  }
}

@media screen and (max-width: 576px) {
  .container .post-card {
    width: 80%;
  }
}

@media screen and (max-width: 430px) {
  .container .post-card {
    width: 100%;
  }
}

.section-dark {
  background: #262D33;
  color: #ffffff;
  padding: 50px 113px 122px 113px;
}

.section-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 27px;
}

.contacts-wrapper {
  display: flex;
  align-items: flex-start;
}

.contacts-left {
  margin-right: 79px;
}

.contacts-left .after-submit {
  display: none;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
}

.contacts-form {
  max-width: 460px;
}

.contacts-form textarea, .contacts-form input {
  padding: 10px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  font-family: 'Lato regular', sans-serif;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  color: #939699;
}

.contacts-form textarea::placeholder, .contacts-form input::placeholder {
  color: #939699;
}

.contacts-form textarea {
  min-height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.contacts-form input {
  margin-bottom: 10px;
  width: 100%;
}

.contacts-form button, .contacts-form .button {
  max-width: 140px;
  font-family: 'Lato Black', sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: #4592ff;
}

.contacts-form .button {
  color: #fff;
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: none;
  cursor: pointer;
}

.contacts-form .button:visited, .contacts-form .button:focus, .contacts-form .button:hover {
  color: #fff;
}

.contacts-right {
  max-width: 263px;
}

.contacts-right a {
  display: block;
  text-decoration: none;
  color: inherit;
  opacity: 0.85;
  margin-bottom: 15px;
}

.contacts-right a:visited {
  color: #ffffff;
}

.contacts-right address {
  font-style: normal;
  opacity: 0.85;
  margin-bottom: 15px;
}

.lesson-template-default {
  background-color: #ffffff;
}

.lesson-header {
  color: #ffffff;
  padding: 80px 0;
}

.lesson-header-nav .breadcrumbs {
  margin: 0;
  margin-bottom: 30px;
}

.lesson-header-title {
  font-family: Roboto Slab;
}

.taxonomy-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  color: #262D33;
  margin-bottom: 60px;
}

.lesson-card {
  margin-bottom: 50px;
}

.lesson-card a {
  text-decoration: none;
  color: #262D33;
}

.lesson-card a:visited {
  color: #262D33;
}

.lesson-card-title {
  font-family: 'Lato Black', sans-serif;
  font-size: 25x;
  line-height: 35px;
}

.lesson-card-info {
  display: flex;
  align-items: center;
}

.lesson-card-info .author-avatar {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.lesson-card-info .author-info {
  display: flex;
  flex-wrap: wrap;
  color: #939699;
  font-family: 'Lato Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.lesson-card-info .author-name {
  width: 100%;
  margin-bottom: 8px;
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
}

.lesson-card-date {
  display: flex;
  align-items: center;
}

.lesson-card-date .date {
  opacity: 0.8;
}

.lesson-card-date .icon {
  width: 15px;
  height: 15px;
  fill: #4B5157;
  opacity: 0.4;
  margin-right: 5px;
}

.breadcrumbs {
  margin-top: 50px;
}

.breadcrumbs__link {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 900;
  color: #262D33;
}

.breadcrumbs__link:visited {
  color: inherit;
}

.breadcrumbs__current {
  font-weight: 900;
}

.breadcrumbs__separator {
  font-size: 20px;
  font-family: sans-serif;
  color: #BCBFC2;
  margin: 0 10px;
}
